.transactions {
	background: white;
	border-radius: 5px;
	border: 1px solid #00000022;
}

.head {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding: 1em 1.5em;
	@media(--md) {
		flex-direction: row;
	}	
	h2 {
		margin: 0;
		font-size: .9em;
		text-transform: uppercase;
		svg {
			color: var(--oslo);
			margin-right: .75em;
		}
	}
}

.body {
	border-top: 1px solid #00000022;
	padding: 2em 1.5em;
}