:root {
  --mercury: #E8E8E8;
	--sand: #F4F4F4;
	--athens: #FAFBFC;
	--alto: #D8D8D8;
  --oslo: #8E8F90;
  --shuttle: #616263;
  --cinnebar: #EE4C4C;
  --coral: #EA433D;
  --carrot: #FC9C32;
  --dodger: #2196F3;
  --violet: #8B81C1;
  --shark: #1D2021;
  --coal: #1E2021;
}