@import 'normalize.css';

:root {
  --mercury: #E8E8E8;
	--sand: #F4F4F4;
	--athens: #FAFBFC;
	--alto: #D8D8D8;
	--silver: #BBBCBC;
  --oslo: #8E8F90;
  --shuttle: #616263;
  --cinnebar: #EE4C4C;
  --coral: #EA433D;
  --carrot: #FC9C32;
  --dodger: #2196F3;
  --violet: #8B81C1;
  --shark: #1D2021;
  --coal: #1E2021;
}

@custom-media --sm (min-width: 540px);
@custom-media --md (min-width: 768px);
@custom-media --lg (min-width: 1024px);
@custom-media --xl (min-width: 1440px);

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 1.6;
	scroll-behavior: smooth;
	background: var(--athens);
	color: var(--coal);
  font-weight: 400;
  font-family: Helvetica, sans-serif;
	backface-visibility: hidden;
}

picture, img {
  display: block;
  max-width: 100%;
}

svg {
	&:not(.recharts-surface) {
		display: inline-block;
		width: 1em;
		height: 1em;
		stroke-width: 0;
		stroke: currentColor;
		fill: currentColor;
	}
}

main {
	padding: 0 1em;
	margin: 8em 0 8em 0;
	@media(--sm) {
		padding: 0 2.5em;
		margin-left: 3.5rem;
		margin-bottom: 4em;
	}
}

h1 {
	font-size: 1.5em;
}

.active {
	background: var(--shuttle);
	i {
		opacity: 1 !important;
		&:before {
			bottom: 0 !important;
			@media(--sm) {
				left: 0 !important;
			}
		}
	}
}