.stats {
	margin-top: 2em;
	@media(--md) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 2em;
	}
	@media(--lg) {
		grid-template-columns: 1fr 2fr;
	}
	> * {
		margin-bottom: 2em;
		@media(--md) {
			margin-bottom: 0;
		}
	}
}